body{
  background-image: url(../src/assets/img/pokeball.jpg);

  background-attachment: fixed;
}
#root {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  
}



/* Esto de aqui es para que funcione las trancisiones de los nombres de movimientos*/
.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 500ms;
}